.favorites-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(3, .5fr);
	grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 60px;
	margin-right: 55px;
	margin-top: 50px;
}

.fave-msg {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-style: italic;
}