.favorites-container {
	display: flex;
	justify-content: center;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
	grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 50px;
}

.fave-msg {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-style: italic;
}