.favorites-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px
}

.favorite-card-wrapper {
  box-sizing: border-box;
  border: 2px solid black;
  padding: 10px;
	border-radius: 10px;
	line-height: 2em;
	letter-spacing: .10em;
}

.top-container {
	height: 70%;
}

.bottom-container {
	display: flex;
	justify-content: flex-end;
  flex-direction: row;
}

.delete-button {
	margin-bottom: 10px;
}