@media screen and (max-width: 489px) {
  .quotes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(3, .5fr);
    grid-template-columns: repeat(auto-fit, 400px);
    grid-gap: 60px;
  }
}

@media screen and (min-width: 490px){
  .quotes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(3, .5fr);
    grid-template-columns: repeat(auto-fit, 400px);
    grid-gap: 60px;
    margin-right: 55px;
    margin-top: 50px;
  }
}
