form {
	display: flex;
	justify-content: center;
}

.error-message {
	text-align: center;
	font-size: large;
	padding-top: 20px;
}

.dropdown {
	width: 35%;
	padding: 7px;
	font-size: 17px;
	text-align: center;
	margin-bottom: 10px;
	cursor: pointer;
}