.daily-quote-wrapper {
	display: flex;
  justify-content: center;
	flex-direction: row;
  margin-top: 10em;
}

@media screen and (min-width: 500px) {
  .daily-quote-container {
    width: 50vw;
  }
}

@media screen and (min-width: 768px){
  .daily-quote-container {
    width: 40vw;
    max-width: 400px;
  }
}

@media (max-width: 490) {
  .daily-quote-wrapper {
    margin-top: 5em;
  }
  .daily-quote-container {
    width: 90vw;
  }
}

.daily-quote-error {
	display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
	text-align: center;
  margin-top: 10em;
	font-weight: bold;
	font-size: medium;
	letter-spacing: .15em;
}

.daily-quote-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  background-color: white;
  border: 2px solid gray;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.quote {
	font-size: 15px;
	line-height: 2em;
	letter-spacing: .10em;
	text-align: center;
}

.author {
	text-align: center;
}
