@media screen and (min-width: 490px) {
  .card-wrapper {
    height: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 50%;
    background-color: white;
    background-image: url('/public/assets/quote5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 489px) {
  .card-wrapper {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 5%;
    background-color: white;
  }
}

.middle-container {
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.top-container {
	height: 30%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.bottom-container {
	height: 10%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: flex-end;
}

.quote {
	font-size: small;
	line-height: 2em;
	letter-spacing: .10em;
	text-align: center;
	width: 47%;
	margin-bottom: 0px;
}

.daily-quote {
  text-align: center;
}

.author {
	text-align: center;
	width: 40%;
	margin-top: 3px;
}

.quote-image {
	border-radius: 50px;
	height: 80%;
}

.delete-heart, 
.add-heart {
	font-size: 2rem;
	cursor: pointer;
}

.add-heart:hover {
	transform: scale(1.1);
}