.card-wrapper {
	height: 450px;
	width: 450px;
	display: flex;
	flex-direction: column;
	
  border: 2px solid gray;
	border-radius: 50%;
	background-color: white;
	background-image: url('/public/assets/quote5.png');
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-wrapper:hover {
	transform: scale(1.1);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
}

.top-container {
	height: 60%;
	/* border: .5px solid blue; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	/* flex-direction: column;
  align-items: center;
  justify-content: flex-end; */
}

.middle-container {
	height: 30%;
	/* border: .5px solid purple; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.bottom-container {
	height: 10%;
	/* border: .5px solid pink; */
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: flex-end;
	/* justify-content: flex-end;
  flex-direction: row;
  align-content: stretch;
  align-items: flex-end; */
}

.quote {
	font-size: x-small;
	line-height: 2em;
	letter-spacing: .10em;
	text-align: center;
	width: 47%;
	/* border: 1px solid green; */
	margin-bottom: 0px;
}

.author {
	text-align: center;
	width: 40%;
	/* border: 1px solid pink; */
	margin-top: 3px;
}

.quote-image {
	border-radius: 50px;
	height: 80%;

}

.delete-heart, 
.add-heart {
	font-size: 2rem;
	cursor: pointer;
}

.add-heart:hover {
	transform: scale(1.1);
}