.card-wrapper {
  box-sizing: border-box;
  border: 2px solid black;
  padding: 10px;
	border-radius: 10px;
	line-height: 2em;
	letter-spacing: .10em;
}

.top-container {
	height: 70%;
}

.bottom-container {
	display: flex;
	justify-content: flex-start;
  flex-direction: row;
}

.favorite-button {
	margin-bottom: 10px;
}

.quote-image {
  border-radius: 10px;
  border: 2px solid black;
  /* opacity: 0.5; */
}