.card-wrapper {
	display: flex;
	flex-direction: column;
  border: 2px solid gray;
	border-radius: 10px;
	background-color: white;
}

.card-wrapper:hover {
	transform: scale(1.1);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
}

.top-container {
	height: 50%;
	/* border: .5px solid blue; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.middle-container {
	height: 40%;
	/* border: .5px solid purple; */
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bottom-container {
	height: 10%;
	/* border: .5px solid pink; */
	display: flex;
	justify-content: flex-end;
  flex-direction: row;
  align-content: stretch;
  align-items: flex-end;
}

.quote {
	font-size: 15px;
	line-height: 2em;
	letter-spacing: .10em;
	text-align: center;
}

.author {
	text-align: center;
}

.quote-image {
	border-radius: 10px;
}

.delete-heart, 
.add-heart {
	font-size: 1.5rem;
	cursor: pointer;
}