.welcome-container {
  background-image: url("/public/assets/landingPage.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-header {
	text-align: center;
}

.welcome-message {
	text-align: center;
	letter-spacing: .10em;
	background-color: white;
}

.zen-in-ten {
	font-weight: bolder;
	font-size: 50px;
}

.get-started-button {
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 0 0.1em 0.1em 0;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: black;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	text-align: center;
	transition: all 0.2s;
}

.get-started-button:hover {
	background-color: rgba(254, 197, 80, .5);
	border-color: rgba(255,255,255,1);
	border: 0.16em solid gray;
	cursor: pointer;
}
@media all and (max-width:30em){
	get-started-button {
		display: block;
		margin: 0.2em auto;
	}
}
